<html ng-app="helloApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="js/angularFire.js"></script>
    <script>
      var helloApp = angular.module('helloApp', ['firebase']);

      helloApp.controller('HelloCtrl', ['$scope', 'angularFire',
        function HelloCtrl($scope, angularFire) {
          angularFire('https://hc-hello.firebaseIO.com/hello', $scope, 'hello', {});
        }
      ]);
    </script>
  </head>
  <body ng-controller="HelloCtrl">
    <label>Name:</label>
    <input type="text" ng-model="hello.name" placeholder="Enter a name here">
    <hr>
    <h1>Hello {{hello.name}}!</h1>
  </body>
</html>
