<!doctype html>
<html lang="en" ng-app="upper">
<head>
  <meta charset="UTF-8">
  <title>Uppercase Demo</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="js/angularFire.js"></script>
  <script src="supper.js"></script>
</head>
<body ng-controller="UpperCase">
  <div class="span12 pagination-centered">
    <h1>Synchronous Uppercase Demo</h1>
    <form ng-submit="submitMessage()">
      <input type="text" required ng-model="input" placeholder="Type something here" size="40" style="vertical-align:top">
      <button ng-disabled="processing" type="submit" class="btn btn-primary" style="vertical-align:top">Submit</button>
     </form>
    <div ng-cloak>{{result}}</div>
  </div>
</body>
</html>
