<!doctype html>
<html lang="en" ng-app="upper">
<head>
  <meta charset="UTF-8">
  <title>Uppercase Demo</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="js/angularFire.js"></script>
  <script src="upper.js"></script>
</head>
<body ng-controller="UpperCase">
  <div class="span12 pagination-centered">
    <h1>Asynchronous Uppercase Demo</h1>
    <form ng-submit="submitMessage()">
      <input type="text" required ng-model="input" placeholder="Type something here" size="40" style="vertical-align:top">
      <button type="submit" class="btn btn-primary" style="vertical-align:top">Submit</button>
    </form>
  </div>
  <table class="table span12">
  <thead>
    <tr>
      <th>Message</th>
      <th>Status</th>
      <th>Submitted</th>
      <th>Started</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody ng-cloak>
    <tr ng-repeat="message in messages | orderBy:'submitted':true">
      <td>{{message.text}}</td>
      <td>{{message.status}}</td>
      <td>{{message.submitted | date:'medium'}}</td>
      <td>{{message.started | date:'medium'}}</td>
      <td>{{message.completed | date:'medium'}}</td>
    </tr>
  </tbody>
  </table>
</body>
</html>
